.colss{    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;}
.distIcon{    height: 140px;
    width: 100%;
    object-fit: cover;}  
.colclr{    background: #4994b7;
    text-align: center;color: white;}
.para{font-size: 20px;font-weight: bold;margin-bottom: 4px;margin-top: 10px;} 
.parasecond{font-size: 18px;margin-top: 0px;}         
.parathird{font-size: 10px;margin-top: 3px;margin-bottom: 3px;}
.parafourth{font-size: 12px;text-align: end;margin-bottom: 0px;}
input, ion-input{  background: #fff;   border-radius: 10px;
    color:#444 !important;text-align: center;
    border: none;width:100%;overflow: hidden;
    margin-right: 6px;height: 40px;
  }
  input:focused {border: none;}
  .customBg {
    background: #d3fbe3 !important;
}
.newcustomBg {
    background: #4994b7 !important;
    height: 100px;
}
.customlihtBg{ background: #e8f8ee !important;}
.paddcss{padding: 10px;}
.paraseven{    margin-top: 0px;
    font-weight: bold;}

    ion-radio {
        margin: -4px !important;
    }
.paraeiht{font-weight: bold;margin-top: 5px;margin-bottom: 5px;}  
.lblclr{color: #c58800;font-size: 18px;} 
.mrauto{margin: auto;} 
.upload{font-weight: bold;margin-bottom: 0px;margin-top: 0px;}
.paddleft{padding-left: 0px;}
.cam{    text-align: center;
    height: 100px;}
.campara{margin-top: 24px;}  
.customCardim{    background: #fff; margin: 13px; padding: 0px; border-radius: 14px; position: relative;
    img{box-shadow: 2px 3px 8px 0px #444;}
}  
.discim{height: 98px;  width: 100%; border-radius: 14px; object-fit: cover;}
.backclr{background: red !important;} 
.mrpara{margin-top: 5px;margin-bottom: 5px;}
.padddiv{padding: 10px;} 
.frontpara{    font-size: 13px; font-weight: bold; margin-bottom: 5px; margin-top: 5px; color: #4994b7;text-align: center;}
.divclr{    background: #4994b7;  padding: 1px; border-radius: 6px;} 
.paraclr{ margin-bottom: 5px; margin-top: 5px; text-align: center; color: white;} 
.crc{    background: white; border-radius: 50%; height: 20px; width: 20px;}
.iconpara{    background: white; border-radius: 50%; margin-bottom: 0px; margin-top: 0px;padding: 2px;height: 20px; width: 20px;}  
.madpara{    margin-bottom: 0px; margin-top: 0px; font-weight: bold; color: #c58815;}
.newcustomCard{margin: 10px; padding: 10px; border-radius: 14px; box-shadow: 2px 3px 8px 0px #444; position: relative;} 
    .newcustomCardmr{margin: 15px; padding: 10px; border-radius: 14px; margin-top: -50px; background: white; box-shadow: 2px 3px 8px 0px #444;
        position: relative;} 
.notepara{    margin-top: 0px;
    margin-bottom: 0px;
    color: white;}                        


    input.medicineName{padding-left: 8px;}
    input{
        background: #4994b7 !important;
        color: #fff !important;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;    font-size: 13px;
        opacity: 0.8; /* Firefox */
      }
      .closeBtn{color:red; font-size: 24px;position: absolute;top: -9px;right: -10px;font-weight: bold;z-index: 99;border: 1px solid red;border-radius: 50%; }

      